---
import Badge from '../components/Badge.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Hola! soy Octavio <Badge>Disponible para trabajar</Badge></h1>
    <h2></h2>
  </main>
</Layout>
